.container-fluid
  .row-fluid
    %h1.offset5
      .underline 
        Comissions
      
  .row-fluid
    .hero-unit.offset2.span8
      Comissions Status: 
      %span.label.label-success Open
      - if user_signed_in?
        = link_to "Edit Status", edit_comission_path(@comission), class: "btn"

      %br/
      %br/
      INFO GOES HERE
      