.hero-unit.span9
  - if @posts[0..3]
    .row-fluid
      - @posts[0..3].each do |post|
        = render partial: "grid", locals: { post: post }

  - if @posts[4..7]
    .row-fluid
      - @posts[4..7].each do |post|
        = render partial: "grid", locals: { post: post }

  - if @posts[8..12].present?
    .row-fluid
      - @posts[8..12].each do |post|
        = render partial: "grid", locals: { post: post }

  - if @posts[13..16].present?
    .row-fluid
      - @posts[13..16].each do |post|
        = render partial: "grid", locals: { post: post }

