@import "bootstrap";
@import "bootstrap-responsive";
#center{
	margin-left: auto;
	margin-right: auto;
	float:none;
}
.underline{
	text-decoration: underline;
}
#headlink{
	color:#33b5e5;
}
.firstentry{
	a{
		color:red;
	}
	color:red;
}
.text{
	width: 500px;
}
.date{
	width: auto;
}
